[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
asyncio = "*"
jupyter = "*"
numpy = "*"
pandas = "*"
scipy = "*"
matplotlib = "*"
scikit-learn = "*"
keras = "*"
tensorflow = "*"
cufflinks = "*"
plotly = "*"

[requires]
python_version = "3.7"
